// Variable Overrides 
$theme-colors: (
  "primary": #ffffff
);
// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

$primary: #ffffff;
$secondary: #73BF9C;
$third: #027373;
$fourth: #025959;
$fifth: #F5F5F7;

html {
    scroll-behavior: smooth;
  }

.container-fluid{
    overflow: hidden;
}

// Header start

.header {
    border-bottom: 9px solid $secondary;
}

.navbar-nav {
    background-color: $primary;
    border-right: 15px solid $primary;
    border-left: 15px solid $primary;
}

.navbar-toggler{
    background-color: $primary;
}

.navbar-toggler-icon {
color: $third !important;
}

.fa {
    color: $secondary;
    font-size: 30px;
}

.nav-link {
    color: $third !important;
    font-size: 18px;
    font-weight: 500;
    &:hover {
        text-decoration: underline;
      }
}

.logo {
    width: 200px;
    margin-left: 60px;
}

.navbar {
    background-image: url(https://www.forsea.dk/Content/site/images/logo-line.png);
    background-position: 0px -9px;
    background-repeat: no-repeat;
    background-size: 1600px 80px; 
    margin-top: 8px; 
    margin-bottom: 8px;
}
.collapse {
    margin-right: 100px;
}
// Header end
// infographic1 start

.infographic1 {
    background-color: $third;
}
.jumbotron {
    margin-bottom: 0px;
}

// infographic1 end
// splash start

.splash {
    background-color: $primary;
    padding-top: 0px;
    position: relative;
}
.splash-header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $primary;
}
.splash-lead {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $primary;
}
#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  .svg1 {
    top: 75%;
  }
  .svg2 {
    top: 75%;
  }
  .svg3 {
    top: 75%;
  }
  @media screen and (max-width: 600px) {
    .svg1 {
        top: 60%;
      }
      .svg2 {
        top: 60%;
      }
      .svg3 {
        top: 60%;
      }
  }
  @media screen and (max-width: 1000px) {
    .svg1 {
        top: 65%;
      }
      .svg2 {
        top: 65%;
      }
      .svg3 {
        top: 65%;
      }
  }
// splash end
// intro start

.intro {
    background-color: $fifth;
    margin-top: 100px;
}
@media screen and (max-width: 600px) {
    .intro {
        margin-top: 0px;
        padding: 20px;
    }
}
// intro end
// infographic2 start

.infographic2 {
    background-color: $third;
}

// infographic2 end
// video1 start

.video1 {
    background-color: $fifth;
    border-top: 150px solid $third;
}
@media screen and (max-width: 600px) {
    .video1 {
        padding: 20px;
    }
}
// video1 end
// infographic3 start

.infographic3 {
    background-color: $third;
}

// infographic3 end
// video2 start

.video2 {
    background-color: $fifth;
    border-top: 150px solid $third;
}
@media screen and (max-width: 600px) {
    .video2 {
        padding: 20px;
    }
}
// video2 end
// outro start

.outro {
    border-bottom: 9px solid $secondary;
}
@media screen and (max-width: 600px) {
    .outro {
        padding: 20px;
    }
}
// outro end
// Footer start
.newsletter {
    background: $third;
    border-bottom: 4px solid $secondary;
    width: 80%;
    margin: auto;
    padding-bottom: 60px;
    }
    
    .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
    
    }
    .newsletter .content h2 {
    color: $primary;
    margin-bottom: 40px; 
    }
    .newsletter .content .form-control {
    height: 60px;
    border-top: 3px solid $primary;
    border-left: 3px solid $primary;
    border-bottom: 3px solid $primary;
    border-radius:0;
    background-color: $third;
    color: $primary;
    }
    .newsletter .content .btn {
    min-height: 60px; 
    width: 150px;
    border-radius:0;
    background: $third;
    color: $primary;
    font-weight:600;
    border: 3px solid $primary;
    &:hover {
        background: $primary;
        color: $third;
    }
    }
    ::placeholder {
        color: $primary !important;
      }

.font-weight-bold {
    color: $primary;
}
.page-footer {
    background-color: $third;
    border-top: 40px solid $third;
}
.footer-copyright {
    border-top: 4px solid $secondary;
    width: 80%;
    margin: auto;
    border-bottom: 80px solid $third;
    margin-top: 40px;
}
.footer-info {
    border-top: 60px solid $third;
}
.footer-copyright-text {
    color: $primary;
}

.footer-logo {
    width: 90px;
}

// Footer end
